h1 {
  text-align: center;
  color: white;
  margin: 30px auto;
}

body {
  background-color: #2B2A30;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

